@section blurb {
<p> 
  <i> 
    <a href='http://outtahereonline.com' target='blank'>Image from Outta Here</a> 
  </i> 
</p> 
<p> 
  I talk to 2 developers in this episode, and toss in a story from myself at the end:
  <ul> 
    <li> 
      The first story comes from
      <a href='http://girldeveloper.com'>Sara J Chipps</a> 
      a Microsoft developer who lives on the East Coast.
    </li> 
    <li> 
      The second story comes from
      <a href='http://ayende.com'>Oren Eine (Ayende Rahien)</a> 
      about what life as a prison commander in Israel taught him about his career.
    </li> 
    <li>And finally there's me (Rob) - talking about the "Coyote Contract" that was doomed to fail. So I gnawed off my own reputation to get out of it.</li> 
  </ul> 
</p> 
 
<h2>Music</h2> 
<ul> 
  <li> 
    <a href='http://itunes.apple.com/us/album/moon-safari/id381850260' target='_blank'>Air - Sexxy  Boy</a> 
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home' target='_blank'>Nine Inch Nails - #6 (Ghosts)</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/the-power-out/id7059396' target='_blank'>Electralane - On Parade</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/the-beta-band/id324897122' target='_blank'>Beta Band - Broken Up a Ding Dong</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/the-black-light/id25515335' target='_blank'>Calexico - Minas de Cobre</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/id57085863' target='_blank'>Fischerspooner - mega c (bonus track)</a> 
  </li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Tekpub()
}
@section player{
  <script src='http://player.wizzard.tv/player/o/j/x/128683090260/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-3f1e5f46f319f207.m4v' type='text/javascript'></script> 

}