@section blurb{
<p> 
  In the first story, I talk to
  <a href='http://loudthinking.com/'>David Heinemeier Hansson</a> 
  creator of
  <a href='http://rubyonrails.org'>Ruby on Rails,</a> 
  partner at
  <a href='http://37signals.com'>37Signals</a> 
  and author of Rework about the inspiration and shepherding of Ruby on Rails.
</p> 
<p> 
  In the second story, Scott talks to
  <a href='http://danbricklin.com/history/saimiddle.htm'>Dan Bricklin</a> 
  who in the late 70s and early 80s helped to usher in the computer age, as well as a new industry. Dan is the creator of Visicalc - the first spreadsheet program.
</p> 
 
<h2>Music</h2> 
<ul> 
  <li> 
    <a href='http://www.bradsucks.net/'>Making me Nervous: Brad Sucks</a> 
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home'>Nine Inch Nails: Ghosts</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/a-few-things-to-hear-before/id4476329'>Willamson</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/acoustic-country-blues-guitar/id16684873'>John Williams: Acoustic Country Blues Guitar</a> 
  </li> 
</ul> 
<p>Please support these artists.</p> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.Umbraco()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128683071135/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-dd9e39ae779f6709.m4v' type='text/javascript'></script> 
</p>
}