@section blurb{
<p> 
  <i> 
    <a href='http://xkcd.com/399/'>image from XKCD</a> 
  </i> 
</p> 
<p> 
  In this week's This Developer's Life that's what I take a look at, from 3 perspectives:
</p> 
<ol> 
  <li> 
    <a href='http://blowmage.com/' target='_blank'>Mike Moore</a> 
    (Ruby developer) talks about personal skills for solving problems, including the ability to ask a different question.
  </li> 
  <li> 
    <a href='http://lozanotek.com/blog' target='_blank'>Javier Lozano</a> 
    (Microsoft developer) talks about teams coming together as a 'band of brothers', solving problems that may, or may not, exist.
  </li> 
  <li>Tamar Cohen (Java developer) shares her story of the unsolvable bug - something she *had to solve* as the exploration of other planets depends on it. She works at NASA, programming planetary rovers.</li> 
</ol> 

<p> 
  <a href='http://hanselman.com' target='_blank'>Scott Hanselman</a> 
  finishes things off with a story about what happens when trouble finds you'
</p> 
<h2>Some Notes:</h2> 
<p> 
  I've been asked by the producers of This American Life
  to kindly change my logo as well as podcast title. In retrospect it seems rather obvious that I should have thought about this - but the short answer is that I didn't know if anyone would really care about this podcast. I also didn't expect the attention it's getting.
</p> 
<p>Oops.</p> 
<p>I changed the logo - a name change will come soon. Worry not - the RSS will stay intact, as will the iTunes link.</p> 
<p> 
  <strong>UPDATE</strong> 
  - I've remastered the episode and removed some of the music.
</p> 
<h2>Soundtrack:</h2> 
<p>If you like any of the songs - please support my efforts to stay within 'Fair Use' by buying them' I'd very much appreciate it.</p> 
<ul> 
  <li> 
    <a href='http://itunes.apple.com/us/album/exile-in-guyville-bonus-tracks/id283033231'>Mezmerize - Liz Phair</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/fight-for-your-mind/id17478904' target='_blank'>Please Me Like You Want To - Ben Harper</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/human-after-all/id388195039' target='_blank'>Human After All - Daft Punk</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/live-it-out/id81067976'>Too Little Too Late - Metric</a> 
  </li> 
  <li> 
    <a href='http://remix.nin.com/'>NIN Remixes (under Creative Commons)</a> 
  </li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Tekpub()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128683100911/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-96fb6286bcc69763.m4v' type='text/javascript'></script> 
</p> 
}