@section blurb{
<ul> 
  <li> 
    <a href='http://en.wikipedia.org/wiki/Ward_Cunningham'>Ward Cunningham</a> 
    - creator of the Wiki and major figure in Agile/XP programming
  </li> 
  <li> 
    <a href='http://www.charlespetzold.com/'>Charles Petzold</a> 
    - author of many books about Windows and prominent speaker
  </li> 
  <li> 
    <a href='http://danbricklin.com/history/saimiddle.htm'>Dan Bricklin</a> 
    - 'Superman' according to Scott. Creator of the spreadsheet and all around amazing guy.
  </li> 
</ul> 

<p>Most of the music in this podcast is released under Creative Commons, including:</p> 
<ul> 
  <li> 
    <a href='http://itunes.apple.com/us/album/sonic-chill/id336070757'>DJ Cary - Sonic Chiil</a> 
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home'>Nine Inch Nails - Ghosts</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/dusty-porch/id257797507'>John Williams - Dusty Porch</a> 
  </li> 
</ul> 
<p>In addition - super short clips of the following songs were used under Fair Use:</p> 
<ul> 
  <li> 
    <a href='http://itunes.apple.com/us/album/computer-world/id40555789'>Kraftwerk - Pocket Calculator</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/big-science/id261604943'>Laurie Anderson - O Superman</a> 
  </li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.Umbraco()

}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128760956871/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-5bf1339487e17022.m4v' type='text/javascript'></script> 
</p> 
}