@section blurb{
<p>In this episode Scott and I talk to technical folks who have moved on up to Management - and what it means to them.</p>
<p> 
  <h3> 
    <a href='http://traffic.libsyn.com/devlife/09-Management.mp3'>Download Here</a> 
  </h3> 
</p> 
<ul> 
  <li> 
    <a href='http://markfreedman.com/'>Mark Freedman</a> 
    shares his story about clawing his way out of a successful career as a manager at a rather large, growing company. A good job, lots of respect, and he hates it.
  </li> 
  <li> 
    <a href='http://weblogs.asp.net/bleroy'>Bertrand LeRoy</a> 
    talks about charting his own path right at Microsoft after graduating with a PhD in Physics and how he maintains a career right down in the middle of manager and coder.
  </li> 
  <li> 
    <strong>Todd Baesen</strong> 
    talks about moving from Chemical Engineer to Nuclear Engineer on the USS Enterprise (literally), and then to senior management at a big engineering firm in the SF Bay Area.
  </li> 
</ul> 

<h2>Music</h2> 
<p>The tracks for this week are used under Creative Commons from Magnatunes:</p> 
<ul> 
  <li><a href='http://itunes.apple.com/us/album/colors-of-spain/id370502116'>Daniel Estrem</a>- Asturias (Leyenda) no. 1 from Cantos de Espana
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/the-glass-desert/id319950002'>Harlan Williams</a> 
    - Beneath the Iron Heel of Pagan Rome
  </li> 
  <li> 
    <a href='http://magnatune.com/artists/williamson'>Williamson</a> 
    - a please goodbye from whore
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/a-origem-da-natureza-urbana/id364641300'>Urban Response</a> 
    - Hunter Gatherer
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/electromelange/id267136559'>DJ Cary</a> 
    -Termoli
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/entertainment/id354557016'>Fischerspooner</a> 
    - Danse en France
  </li> 
  <li> 
    <a href='http://www.maxtannone.com/projects/jaydiohead/'>Jaydiohead</a> 
    - December Backdrifts
  </li> 
  <li> 
    <a href='http://www.amazon.com/10-000-Days-Tool/dp/B000EULJLU'>Tool</a> 
    - Rosetta Stoned
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/general-fuzz/id359064275'>General Fuzz</a> 
    - Beatdown
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home'>Nine Inch Nails</a> 
    - Ghosts
  </li> 
  <li> 
    <a href='http://www.maxtannone.com/projects/jaydiohead/'>Jaydiohead</a> 
    - Life There
  </li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.SublimeSVN()
}
@section player{
<p> 
  <script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129167056374/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-71b07f102271a575.m4v"></script> 
</p> 
}