@section blurb{
<p>
In the first story I talk to
<a href='http://john-sheehan.com/blog/'>John Sheehan</a>,
a developer who's active on Twitter and is establishing himself in the Open Source community.</p>
<p> 
  The second story comes from
  <a href='http://www.hanselman.com/blog/'>Scott Hanselman</a> 
  - one of the biggest names (if not *the* biggest) in the Microsoft community.
</p> 

<p> 
  <strong>Technical Note:</strong> 
  You'll notice that the first story's audio isn't ideal. John was using an analog mic that picked up some EM hum that I needed to filter out. I'm committed to spotless audio - but I have to work with what my guests have'
</p> 
<h2>Music</h2> 
<ul> 
  <li> 
    <a href='http://ghosts.nin.com/main/home' target='_blank'>Nine Inch Nails - Ghosts 18</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/elephant/id275230921' target='_blank'>White Stripes - Seven Nation Army</a> 
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home' target='_blank'>Nine Inch Nails - Ghosts 12</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/wowee-zowee-sordid-sentinels/id203674837' target='_blank'>Pavement - Grave Architecture</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/20-all-time-greatest-hits/id117181' target='_blank'>James Brown - Super Bad</a> 
  </li> 
  <li><a href='http://itunes.apple.com/us/album/my-fair-lady/id158862806' target='_blank'>My Fair Lady - You Did It</a></li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Tekpub()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128683105922/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-2d4b75632299d225.m4v' type='text/javascript'></script> 
</p> 
}