@section blurb{
<p>In the first story Scott shares his experience on being 'outted' at a former company, where his name sat beside 7 of the 10 top entries on a list of 'what not to do to code'.</p> 
<p>Scott then interviews Cyra Richardson - a program manager at Microsoft with a rather strong opinion about the changes she's seen in the company over the last 20 years.</p> 
<p>Finally, I spend some time talking to Giles Bowkett and his various ' 'interesting' interactions with the Ruby community.</p> 

<h2>Sponsors</h2> 
@Sponsors.Tekpub()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128683095993/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-cab9e8261c2ee84f.m4v' type='text/javascript'></script> 
</p> 
}