@section blurb{
<p> 
  Scott talks to
  <a href='http://bradwilson.typepad.com' target='_blank'>Brad Wilson</a>,
  Senior Developer on the Microsoft ASP.NET MVC team about what motivates him to get out of bed and come to work every day at a high-intensity company, surrounded by brilliant people.
</p> 
<p> 
  Rob talks to
  <a href='http://datachomp.com/' target='_blank'>Rob Sullivan</a>,
  a database administrator at a large company, about what motivates him to make developer's lives miserable in order to keep his job.
</p> 

<h2>Music</h2> 
<p>The tracks for this week are used under Creative Commons from Magnatunes:</p> 
<ul> 
  <li> 
    <a href='http://itunes.apple.com/us/album/a-origem-da-natureza-urbana/id364641300' target='_blank'>Urban Response</a> 
    - Hip Hop Nai Hai de Morrer
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/soulful-filling/id336046371' target='_blank'>General Fuzz</a> 
    - Lay it Down
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/a-origem-da-natureza-urbana/id364641300' target='_blank'>Urban Response</a> 
    - Resistencia Nunca Morre
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/ideology/id257905422' target='_blank'>iNTROSPEKT</a> 
    - Government Road
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/the-glass-desert/id319950002' target='_blank'>Harlan Williams</a> 
    - Gregory IX
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/sonic-chill/id336070757' target='_blank'>DJ Cary</a> 
    - Overflight
  </li> 
  <li> 
    <a href='http://www.bradsucks.net/' target='_blank'>Brad Sucks</a> 
    - Dirtbag
  </li> 
</ul> 
<p>The following tracks are commercial tracks, used sparingly (30 seconds or so) under Fair Use:</p> 
<p> 
  <a href='http://itunes.apple.com/us/album/old-world-underground-where/id312119046' target='_blank'>Metric</a> 
  - Love is a Place
</p> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.Umbraco()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/129019107773/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-3acfce1d6a63bed3.m4v' type='text/javascript'></script> 
</p> 
}