@section blurb{
<ul> 
  <li><a href='http://ejohn.org' target='_blank'>John Resig</a>, Creator of jQuery, decided to write yet another javascript framework when there were already quite a few to choose from. Not only did he succeed, he changed web development forever.
  </li> 
  <li><a href='http://al3x.net' target='_blank'>Alex Payne</a>, former API Developer Lead at Twitter, talks about the (somewhat insane) move to leave Twitter, and (somewhat more insane) choice to 'reinvent banking' with
    <a href='http://banksimple.com' target='_blank'>BankSimple</a>.
  </li> 
  <li><a href='http://tirania.org/blog/' target='_blank'>Miguel de Icaza</a>, founder of the GNOME project and creator of Mono talks about creating a clone of the .NET framework - all because he didn't like what else was out there at the time for Linux.
  </li> 
</ul> 
<h2>Music</h2> 
<p>There are a number of tracks in this episode, many of which are 'mashups' or 'boots'. These tracks aren't ' 'appreciated' by the recording industry, yet they realize that they sell many of the songs they feature.</p> 
<p>I won't link my sources here - however I will say all of them are found on Youtube if you want to search for them. Some are also found on the DJ's websites:</p> 
<ul> 
  <li> 
    <a href='http://www.partyben.com/' target='_blank'>Party Ben</a> 
  </li> 
  <li> 
    <a href='http://www.gohomeproductions.co.uk/' target='_blank'>Mark Vidler (Go Home Productions)</a> 
  </li> 
  <li> 
    <a href='http://www.maxtannone.com/projects/jaydiohead/' target='_blank'>Max Tannone (Jaydiohead)</a> 
  </li> 
</ul> 
<p>The following music is used under Creative Commons:</p> 
<ul> 
  <li> 
    Tell Me Slow -
    <a href='http://itunes.apple.com/us/album/underground/id327277125'>Crystal Kovach</a> 
  </li> 
  <li> 
    Plastique Toxique -
    <a href='http://www.magnatune.com/artists/soleil_vert'>Soleil Vert</a> 
  </li> 
  <li> 
    Something Unquiet -
    <a href='http://itunes.apple.com/us/album/ritual-fiction/id280716814'>Twilight Archive</a> 
  </li> 
  <li> 
    2 Percent er -
    <a href='http://www.magnatune.com/artists/williamson'>Williamson</a> 
  </li> 
  <li> 
    Between Two Worlds -
    <a href='http://itunes.apple.com/us/album/across-the-night/id399882981'>Rildrim</a> 
  </li> 
  <li> 
    <a href='http://ghosts.nin.com/main/home'>Ghosts (surprise!) - NIN</a> 
  </li> 
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.Umbraco()
}
@section player{
<p> 
  <script src='http://player.wizzard.tv/player/o/j/x/128883238150/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-93b283a37b160fe6.m4v' type='text/javascript'></script> 
</p> 

}