@section blurb{
<p> 
  In this special episode we explore the Egyptian revolution. We talk to Remon Zakaria about his experience writing software for a day job and overthrowing the government at night. Big thanks to Ahmed Remy and Reem Ahmed for their help. We recorded hours and hours of content to bring you this show. We wish we could have used everyone's story - there were so many.
  <ul> 
    @Sugar.GuestLink("Remon Zakaria","works at DashSoft, a software consultancy in downtown Cairo specializing in turnkey solutions for offshore companies.","http://dashsoft.com")
  </ul> 
</p> 
<h2>Images from Egypt</h2>

<p><img src="/images/egyptrevolutionmarriagetank-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution1-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution2-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution3-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution4-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution5-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution6-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution7-thumb.jpg"/></p>
<p><img src="/images/egyptrevolution8-thumb.jpg"/><br/>
    <b>For a while, the government accusing organizations of feeding or paying the protestors. This graffiti sign implies that and says "KFC - The Official Sponsor of the Egyptian Revolution."
    Thanks to Kariem Ali Elkoush for his help!</b></p>
    
<h2>Music</h2>
<p>
    The music this week, aside from the very last song, is from a single composer: <a href="http://itunes.apple.com/us/album/the-darkening-ground/id80069641?i=80069637">Jami Sieber (Lush Mechanique)</a>. If you've listened to this
    show for any significant amount of time - you know that music is a big part of it. This week is no exception: Jami's music is 
    evocative, wonderful, compelling and simply a joy to listen to. Go download these things. All of them. They're wonderful.
</p>
<p>
    The final track is a song from <a href="http://www.npr.org/2011/03/15/134538629/ramy-esam-the-singer-of-the-egyptian-revolution">Ramy Essam</a> - an
    Egyptian folk musician who became the "Singer of the Revolution" and led the masses in Tahrir Square in song.
 </p>
<p>
    The track we ended with is 
    <a href="http://www.youtube.com/watch?v=107hC7cXxTM">
    a remix of his famous song, found on YouTube.
    </a>
</p> 
<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/130084725483/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-22172933d72aaa73.m4v"></script>
    </p>

}
