@section blurb {
<p> 
  This week it's just Scott and me - Scott gets to go off to Disneyland with his wife and 2 boys, and I get to hang out with my girls for a week as their mom goes on a retreat in California.
</p> 
 
<h2>Music</h2> 
<p>The tracks for this week are used under Creative Commons from Magnatunes:</p> 
<ul> 
  <li> 
    <a href='http://ghosts.nin.com/main/home'>Nine Inch Nails</a> 
    - Ghosts
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/general-fuzz/id359064275'>General Fuzz</a> 
    - A Spy in the House of Love
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/general-fuzz/id359064275'>General Fuzz</a> 
    - Walking Home
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/days-end/id257797507?i=257798416'>John Williams</a> 
    - Days End
  </li> 
  <li> 
    <a href='http://www.youtube.com/watch?v=szrhsPmQT3s'>Melissa Polinar</a> 
    - Perfectly Distracted. You can see more of Melissa at
    <a href='http://www.melissapolinar.com'>http://www.melissapolinar.com.</a> 
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/linber/id399882981?i=399883232'>Rildrim</a> 
    - Linber
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/jasmines-song/id390524288?i=390524381'>OGMA</a> 
    -Jasmine's Song
  </li> 
</ul> 
<p> 
  The following tracks were used sparingly, but are not Creative Commons. If you like them - please buy them:
  <li> 
    <a href='http://itunes.apple.com/us/album/justins-lullabye/id18241285?i=18241279'>Hapa</a> 
    - Justin's Lullabye
  </li> 
  <li> 
    <a href='http://itunes.apple.com/us/album/justins-lullabye/id18241285?i=18241279'>Hapa</a> 
    - Ka Uluwehi O Ke Kai
  </li> 
</p> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.SublimeSVN()
}
@section player{
  <script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129265601079/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-28f28350a5c361b6.m4v"></script> 
}