/*======= index-1.html =======*/
#page2 #content .col-1 {width:350px; margin-right:52px;}
#page2 #content .col-2 {width:210px; margin-right:52px;}
#page2 #content .col-3 {width:280px;}

/*======= index-7.html =======*/
#page8 #content .col-1 {width:295px; margin-right:53px;}
#page8 #content .col-2 {width:593px;}

/*======= index-8.html =======*/
#page9 #content .col-1 { width:585px; margin-right:71px;}
#page9 #content .col-2 {width:284px;}


/*=========================*/


